DATABASE_URL="postgresql://postgres:postgres@localhost:5432/turganov_seller?schema=public"

WB_SELLER_TOKEN_SHOP1=your_token_here
WB_SELLER_TOKEN_SHOP2=your_token_here
WB_SELLER_TOKEN_SHOP3=your_token_here
