DATABASE_URL="postgresql://postgres:postgres@localhost:5432/turganov_seller?schema=public"
PORT=4000

WB_SELLER_TOKEN_SHOP1=your_token_here
WB_SELLER_TOKEN_SHOP2=your_token_here
WB_SELLER_TOKEN_SHOP3=your_token_here

JWT_SECRET=your_jwt_secret_key_change_in_production
JWT_EXPIRES_IN=1d
JWT_REFRESH_SECRET=your_jwt_refresh_secret_key_change_in_production
JWT_REFRESH_EXPIRES_IN=7d

# Initial Lead Admin (created on seed or startup if no LEAD_ADMIN exists)
INITIAL_ADMIN_USERNAME=admin
INITIAL_ADMIN_PASSWORD=admin_secure_password_change_me
